body,html{
	background-color: #FFFFFF;
	height: 100%;
}

/*首页*/
.header_box{
	height: 2.013888rem;
}
.header_list{
	display: flex;
	padding-top: 0.916666rem;
	justify-content: space-between;
	align-items: center;
}
.header_list_left{
	padding-left: 0.388888rem;
	font-size: 0.277777rem;
	color: rgba(43,59,72,0.6);
}
.header_list_left img{
	width: 0.833333rem;
	height: 0.833333rem;
	margin-right: 0.069444rem;
}
.header_list_center{
	font-size: 0.444444rem;
}
.header_list_right{
	padding-right: 0.388888rem;
}
.header_list_right img{
	width: 0.833333rem;
	height: 0.833333rem;
}
.gb_img img{
	width: 100%;
}
.img_tags{
	margin-top: 0.416666rem;
	text-align: center;
	font-size: 0.333333rem;
	color: #b2b2b2;
}
.text_content{
	margin: 0.555555rem 0.555555rem;
	font-size: 0.388888rem;
	color: #474747;
}
.text_topic{
	text-align: center;
	font-size: 0.333333rem;
	color: #b2b2b2;
}

/*main样式*/
/*框架样式调整*/
.mui-slider{
	height: 100%;
}
.mui-control-content {
	background-color: white;
	min-height: 400px;
}
#sliderProgressBar{
	width: 15%;
	margin-left: 17.5%;
	height: 2px;
	background-color:#2b3b48;
	margin-top: -1px;
	margin-bottom: 0.097222rem;
	position: relative;
}
.mui-control-item{
	color: #2b3b48 !important;
}
.mui-slider-group{
	background-color: #2b3b48 !important;
}
.mui-segmented-control{
	padding-top: 1.208333rem;
}

/*故事集样式*/
.content_title_1{
	height: 2.416666rem;
}
.title_1_left{
	width: 4.75rem;
	height: 2.083333rem;
	background-image: url(../images/main/writer_bg.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-left: 0.166666rem;
	color: #fefefe;
	font-size: 0.555555rem;
}
.title_1_right{
	width: 4.75rem;
	height: 2.083333rem;
	background-image: url(../images/main/recruit_bg.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-right: 0.166666rem;
	color: #fefefe;
	font-size: 0.555555rem;
}
.content_list_1{
	width: 100%;
	padding: 0 0.361111rem;
}

.list_1_user{
	width: 100%;
	display: flex;
	align-items: center;
	margin-top: 0.513888rem;
}
.title_1_avatar{
	width: 1rem;
	height: 1rem;
}
.title_1_avatar img{
	width: 100%;
	height: 100%;
}
.title_1_name{
	margin-left: 0.222222rem;
}
.title_1_name div:first-child{
	font-size: 0.388888rem;
	color: #666666;
}
.title_1_name div:last-child{
	font-size: 0.277777rem;
	color: #b2b2b2;
}
.list_1_bg{
	margin-top: 0.472222rem;
}
.list_1_bg img{
	width: 100%;
}
.list_2_bg{
	margin-top: 0.472222rem;
	text-align: center;
	position: relative;
}
.list_2_bg img{
	width: 4.805555rem !important;
	height: 4.805555rem;
	margin: 0 auto;
	border-radius:90px;
}
.list_2_play{
	position: absolute;
	width: 1.083333rem;
	height: 1.083333rem;
	background-color: #ffffff;
	opacity: 0.6;
	top: 50%;
	left: 50%;
	transform:translate(-50%,-50%);
	-webkit-transform: translate(-50%,-50%);
	border-radius:90px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.list_2_play img{
	width: 0.347222rem !important;
	height: 0.472222rem;
}
.list_1_title{
	margin-top: 0.416666rem;
	font-size: 0.472222rem;
	color: #212121;
}
.list_1_content{
	margin: 0.361111rem 0;
	color:#b2b2b2;
	font-size: 0.361111rem;
}
/*森物语样式*/
.content_title_2{
	height: 1.722222rem;
	width: 100%;
	background-color: rgba(233,235,236,0.1);
}
.header_bg{
	height: 100%;
	padding: 0.166666rem 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-image: url(../images/main/topic_bg.png);
	background-origin: content-box;
	background-position: left top;
	background-repeat: no-repeat;
	background-size: 93% 100%;
}
.content_header_img{
	width: 1rem;
	height: 1rem;
	margin-left: 15%;
}
.content_header_img img{
	width: 1rem !important;
	height: 1rem;
}
.content_header_text{
	font-size: 0.333333rem;
	color: #fffefe;
}
.content_header_icon{
	margin-right: 15%;
	width: 0.388888rem !important;
	height: 0.388888rem;
}
.content_header_icon img{
	width: 100% !important;
	height: 100%;
}
.content_card{
	padding: 0 5%;
	border-bottom:1px solid #e1e0e0;
}
.card_header{
	height: 1rem;
	display: flex;
	align-items: center;
	margin: 0.583333rem 0;
}
.card_header_avatar{
	width: 1rem;
	height: 1rem;
	border-radius: 90px;
	overflow: hidden;
}
.card_header_avatar img{
	width: 1rem;
	height: 1rem;
	border-radius: 90px;
}
.card_header_name{
	margin-left: 0.222222rem;
	
}
.card_header_nickname{
	font-size: 0.333333rem;
	color: #666666;
}
.card_header_time{
	font-size: 0.277777rem;
	color: #b2b2b2;
}
.card_content{
	font-size:0.388888rem;
	line-height:0.736111rem;
	color: #333333;
}
.card_image{
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
	width: 100%;
	margin-top:0.416666rem;
	margin-bottom: 0.847222rem;
}
.card_image img{
	width: 49% !important;
	height: 4.527777rem;
	margin-bottom: 2%;
}

.card_attribute{
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-bottom: 0.291666rem;
}
.card_attribute span{
	padding-left: 0.319444rem;
	font-size: 0.305555rem;
	color: #8c8c8c;
}
.attribute_watch img{
	width: 0.569444rem !important;
	height: 0.375rem;
}
.attribute_praise img{
	width: 0.444444rem !important;
	height: 0.291666rem;
}
.attribute_commit img{
	width: 0.444444rem !important;
	height: 0.402777rem;
}
